<div class="login">
  <h1>Login</h1>
  <%= form_tag '/login', class:"login-form" do %>
    Email: <%= text_field_tag :email %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag "Submit", class:"submit-form-button"%>
  <% end %>
</div>
